DB_HOST=localhost
DB_PORT=5433
DB_NAME=ai_analytics
DB_USER=postgres
DB_PASSWORD=postgres

SUPERSET_DB_USER=superset
SUPERSET_DB_PASSWORD=superset
SUPERSET_DB_NAME=superset
SUPERSET_SECRET_KEY=superset-secret-key-change-in-prod
SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PASSWORD=admin
