# Python
__pycache__/
*.pyc

# Virtual env
.venv/
.env

# Data
data/raw/*
data/processed/*
!data/processed/samples/
data/dwh/*
!data/dwh/samples/
data/marts/*
!data/marts/samples/
data/config/cities_mapping.json

# OS
.DS_Store