# Python
__pycache__/
*.pyc

# Virtual env
.venv/
.env

# Data
data/raw/*
data/processed/*
!data/processed/samples/
data/dwh/*
!data/dwh/samples/
data/marts/*
!data/marts/samples/
data/config/cities_mapping.json
analytics_dbt/seeds/cities_mapping.csv
analytics_dbt/seeds/currency_mapping.csv

# Jupyter notebooks
*_files/
interim_for_notebooks/

# Model artifacts
catboost_info/
forecasting/model_registry/

# Logs
logs/dbt.log

# OS
.DS_Store